.smain{
    width: 1200px;
    margin: 10px;
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 30px;
    min-height: 100%;
    /* width: 100%; */
    overflow-x: hidden;
    background-repeat:no-repeat;
    
  }
  .Flogin{
    border-radius: 10px;
    position:relative;
    size: 100px;
    left: 270px;
    right: 300px;
    bottom: px;
    top: 135px;
  }